<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<title>Music Converter</title>
</head>
<div class="navbar">
	<a href="/">Home</a>
	<a href="/musicUpload">MP3 업로드</a>
	<div class="dropdown">
		<button class="dropbtn">노래 리스트</button>
		<div class="dropdown-content">
			<a href="/fileList">전체</a>
			<a href="/fatherList">아빠</a>
			<a href="/motherList">엄마</a>
			<a href="/dongheonList">동헌</a>
			<a href="/juhoList">주호</a>
		</div>
	</div>
</div>
</th:block>
</html>