<div th:replace="common/header :: header"></div>
<body style="background-color:white;">
<section class="py-5 my-5">
	<div class="container">
		<div class="bg-white shadow rounded-lg d-block d-sm-flex">
			<div class="profile-tab-nav border-right">
				<div class="p-4">
					<div class="img-circle text-center mb-3">
						<span>
							<img src="assets/img/image.png" alt="Image" class="shadow">
						</span>
					</div>
					<!-- <h2 th:text="${info.artist}" style="text-align:center"></h2> -->
				</div>
			</div>
			<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
				<h3 class="mb-4">음악정보</h3>
			<form action="/upTag" method="post" accept-charset="utf-8">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>가수</label>
								<input type="text" id="artist" name="artist" class="form-control" th:value="${info?.artist}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>제목</label>
								<input type="text" id="title" name="title" class="form-control" th:value="${info?.title}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>앨범</label>
								<input type="text" id="album" name="album" class="form-control" >
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>장르</label>
								<input type="text" id="genre" name="genre" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>발매연도</label>
								<input type="text" id="year" name="year" class="form-control">
							</div>
						</div> 
						<div class="col-md-12">
							<div class="form-group">
								<label>가사</label>
								<textarea id="lylics" name="lylics" class="form-control" rows="4"></textarea>
							</div>
						</div>
						<div>
						<input type="hidden" id="name" name="name" th:value="${info.name.name}">
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-primary" >수정</button>
						<button class="btn btn-light">취소</button>
					</div>
			</form>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>