<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Insert title here</title>
</head>
<body>
<li>
	<a href="/fileList">List</a>
</li>
<li>
	<a href="/">HOME</a>
</li>
<li>
	<a href="/test2">데이터 저장</a>
</li><li>
	<a href="/juho">juho test</a>
</li>
<section class="py-5 my-5">
	<div class="container">
		<div class="bg-white shadow rounded-lg d-block d-sm-flex">
			<div class="profile-tab-nav border-right">
				<div class="p-4"><!-- 
					<div class="img-circle text-center mb-3">
						<img src="${path }/resources/upload/test/${rename}" alt="Image" class="shadow">
					</div> -->
					<h4 class="text-center">API테스트</h4>
				</div>
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
						<i class="fa fa-home text-center mr-1"></i> 
						노래
					</a>
				</div>
			</div>
			<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
					<h3 class="mb-4">노래 정보</h3>
					<form action="/testSubmit" method="post" name="apiForm" accept-charset="utf-8">
					<!-- encoding type 확인하기 -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
							  	<select name="user" id="user" class="form-control">
							  		<option disabled hidden selected value="none">
    								사용자
  									</option>
									<option value="father">아빠</option>
									<option value="mother">엄마</option>
									<option value="dongheon">동헌</option>
									<option value="juho">주호</option>
									
								</select>
							</div>
					</div>
					</div>
					<div class="row">
							<div class="col-md-6">
								<div class="form-group">
							  	<label>가수
							  	<input type="text" id="artist" name="artist" class="form-control">
                            </label>
							</div>
						</div>
					</div>
					<div class="row">
							<div class="col-md-6">
								<div class="form-group">
							  	<label>제목</label>
							  	<input type="text" name="title" class="form-control">
							</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
							  	<label>youtube</label>
							  	<input type="text" name="youtube" class="form-control">
							</div>
							</div>
						</div>
					<div>
						<button type="submit" class="btn btn-primary" onClick="return check()">전송</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
function check(){
			if(testF.artist.value.length == 0 ){ 
				alert("가수를 적어주세요.");
				return false;
			}
            if(testF.title.value.length == 0){ 
				alert("제목을 적어주세요.");
				return false;
			}
            if(testF.youtube.value.length == 0){ 
				alert("유튜브 주소를 적어주세요.");
				testF.youtube.focus();
				return false;
			}
            var user = document.getElementById('user');
            if(user.value == "none") {
                alert("사용자를 선택해 주세요");
            return false;
            } 
        }
</script>
<style>
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
</style>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<body>
</html>