<div th:replace="common/header :: header"></div>
<body style="background-color:white;">
<section class="py-5 my-5">
	<div class="container">
<!-- 		<form action="/searchMusic" method="post" name="searchMusic">
			<div class="input-group">
				<div>
					<select name="searchType" id="searchType" class="form-control">
						<option value="none" disabled hidden selected>검색 유형</option>
						<option value="searchArtist">가수</option>
						<option value="searchTitle">제목</option>
					</select>
				</div>
				<input id="keyword" name="keyword" type="text" placeholder="검색어를 입력하세요" class="form-control">
				<div class="input-group-append">
					<button type="submit" class="btn btn-primary" onclick="return check();">검색</button>
				</div>
			</div>
		</form> -->
		<div class="bg-white shadow rounded-lg d-block d-sm-flex">
			<table id="tbl-board" class="tableStyle">
				<thead>
					<tr>
						<th><a th:href="@{/artistAcs( name=${name} )}" th:text="가수"></a></th>
						<th><a th:href="@{/titleAsc( name=${name} )}" th:text="제목"></th>
						<th>첨부파일</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${file.size() == 0}" th:each="f : ${file}">
						<td class="word" th:text="${f.artist}"></td>
						<td class="word">
							<a th:href="@{/fileInfos( id=${f.musicId} )}" th:text="${f.title}"></a>
						</td>
						<form action="/fileDownload" method="post">
							<td>
								<input type="hidden" id="artist" name="artist" th:value="${f.artist}">
								<input type="hidden" id="title" name="title" th:value="${f.title}">
								<input type="hidden" id="filePath" name="filePath" th:value="${f.filePath}">
								<button type="summit" class="btn btn-primary">다운로드</button>
							</td>
						</form>
						<form action="/deleteFile" method="post">
							<td>
								<!-- <a th:href="@{/testDelete( id=${f.musicId}, name=${f.name.name} )}" th:text="삭제"></a> -->
								<input type="hidden" id="filePath" name="filePath" th:value="${f.filePath}">
								<input type="hidden" id="musicId" name="musicId" th:value="${f.musicId}">
								<input type="hidden" id="name" name="name" th:value="${f.name.name}">
								<button type="submit" class="btn btn-primary" onclick="return delFile();">삭제</button>
							</td>
						</form>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<script>
function delFile(){
    let isUpdate=confirm("정말 삭제하시겠습니까?");
    if(isUpdate){
        return true;
    }else {
        return false;
    }
}

function check(){
	if(searchMusic.keyword.value.length == 0 ){
		alert("검색어를 적어주세요.");
		searchMusic.keyword.focus();
		return false;
	}
	var searchType = document.getElementById('searchType');
	if(searchType.value == "none") {
		alert("유형 선택해 주세요");
		searchMusic.searchType.focus();
		return false;
	}
}


</script>


<body>
</html>