<div th:replace="common/header :: header"></div>
<body style="background-color:white;">
<section class="py-5 my-5">
	<div class="container">
		<div class="bg-white shadow rounded-lg d-block d-sm-flex">
			<table id="tbl-board" class="tableStyle">
				<thead>
					<tr>
						<th>가수</th>
						<th>제목</th>
						<th>첨부파일</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${file.size() == 0}" th:each="f : ${file}">
						<td class="word" th:text="${f.artist}"></td>
						<td class="word">
							<a th:href="@{/fileInfos( id=${f.musicId} )}" th:text="${f.title}"></a>
						</td>
						<form action="/fileDownload" method="post">
							<td>
								<input type="hidden" id="artist" name="artist" th:value="${f.artist}">
								<input type="hidden" id="title" name="title" th:value="${f.title}">
								<input type="hidden" id="filePath" name="filePath" th:value="${f.filePath}">
								<button type="summit" class="btn btn-primary">다운로드</button>
							</td>
						</form>
						<form action="/deleteFile" method="post">
							<td>
								<!-- <a th:href="@{/testDelete( id=${f.musicId}, name=${f.name.name} )}" th:text="삭제"></a> -->
								<input type="hidden" id="filePath" name="filePath" th:value="${f.filePath}">
								<input type="hidden" id="musicId" name="musicId" th:value="${f.musicId}">
								<input type="hidden" id="name" name="name" th:value="${f.name.name}">
								<button type="summit" class="btn btn-primary" onclick="return delFile();">삭제</button>
							</td>
						</form>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<script>
function delFile(){
    let isUpdate=confirm("정말 삭제하시겠습니까?");
    if(isUpdate){
        return true;
    }else {
        return false;
    }
}
</script>


<body>
</html>