<div th:replace="common/header :: header"></div>
<body>
<section class="py-5 my-5">
	<div class="container">
		<div class="bg-white shadow rounded-lg d-block d-sm-flex">
			<div class="profile-tab-nav border-right">
				<div class="p-4">
					<h4 class="text-center">MP3 변환</h4>
				</div>
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
						<i class="fa fa-home text-center mr-1"></i>
						노래
					</a>
				</div>
			</div>
			<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
					<h3 class="mb-4">노래 정보</h3>
					<form action="/test" method="post" name="upFile" accept-charset="utf-8">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<select name="user" id="user" class="form-control">
										<option value="none" disabled hidden selected>사용자</option>
										<option value="father">아빠</option>
										<option value="mother">엄마</option>
										<option value="dongheon">동헌</option>
										<option value="juho">주호</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>가수</label>
									<input type="text" name="artist" id="artist" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>제목</label>
									<input type="text" name="title" id="title" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>youtube</label>
									<input type="text" name="youtube" id="youtube" class="form-control">
								</div>
							</div>
						</div>
						<div>
							<button type="submit" class="btn btn-primary" onclick="return check()">전송</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<script>
function check(){
	if(upFile.artist.value.length == 0 ){
		alert("가수를 적어주세요.");
		testF.artist.focus();
		return false;
	}
	if(upFile.title.value.length == 0){
		alert("제목을 적어주세요.");
		testF.title.focus();
		return false;
	}
	if(upFile.youtube.value.length == 0){
		alert("유튜브 주소를 적어주세요.");
		testF.youtube.focus();
		return false;
	}
	
	var user = document.getElementById('user');
	if(user.value == "none") {
		alert("사용자를 선택해 주세요");
		return false;
	}
}
</script>
<style>
.navbar {
	background-color: #333;
}
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}

.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
</style>
<body>
</html>